@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

variables {
  --black: #000000ff;
  --rich-black-fogra-29: #020f18ff;
  --oxford-blue: #031d30ff;
  --indigo-dye: #063b60ff;
  --lapis-lazuli: #095b95ff;
  --main-blue: #0b78c1ff;
  --carolina-blue: #2e9feaff;
  --maya-blue: #74bff1ff;
  --uranian-blue: #b9e0f8ff;
  --white: #ffffffff;

  --secondary: #eb6d00;

  --gray-most-light: #dfdfdf;
  --gray-lighter: #cacaca;
  --gray-light: #b8b8b8;
  --gray-medium: #7a7a7a;
  --gray-dark: #3d3d3d;
  --gray-most-dark: #1f1f1f;
}

/*? Root */
body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #f9fafb;
  font-size: 16px;
}

/*? Styles */
.separator {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
  width: 100%;
}

.horizontal-list li {
  display: inline;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  margin: 0 0.7rem;
  font-size: 0.7rem;
}

.horizontal-list li:first-of-type {
  margin: 0;
}

.hundred {
  height: 100%;
}

.bottom {
  margin-top: auto;
}

.soft-link-secondary {
  border: 3px solid #0b78c1ff;
  color: white;
  font-weight: 400;
  /* text-decoration: underline; */
  border-radius: 0px;
  padding: 0.35rem 0.9rem;
  transition: ease 300ms;
}

.soft-link-secondary:hover {
  /* background-color: #9c4900; */
  background-color: #063b60ff;
  color: white;
  text-decoration: none;
}

.soft-link {
  border: 3px solid #0b78c1ff;
  color: black;
  font-weight: 400;
  /* text-decoration: underline; */
  border-radius: 0px;
  padding: 0.35rem 0.9rem;
  transition: ease 300ms;
}

.soft-link:active {
  background-color: rgb(74, 99, 117);
}

.soft-link:hover,
.soft-link:focus,
.soft-link:active {
  /* background-color: #9c4900; */
  color: white;
  text-decoration: none;

  text-decoration: none;
  border: 3px solid #0b78c1ff !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  outline: none;
}

.input-contact {
  display: block;
  width: fit-content !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: transparent;
  border: 3px solid #0b78c1ff;
  font-family: inherit;
  transition: 0.15s ease-in-out;
  box-shadow: none;
  position: relative;
}

.input-contact::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.input-contact:focus,
.input-contact:active {
  background-color: rgb(143, 160, 172);
  color: white;
  text-decoration: none;
  border: 3px solid #0b78c1ff !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  outline: none;
}

.avatar {
  max-width: 50px !important;
  border-radius: 50%;
}

/*? Effects */
/* Effect 1: Brackets */
.nav-link,
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  color: #0b78c1ff;
}

.nav-link,
.cl-effect-1 a::before {
  margin-right: 10px;
  content: '{';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.nav-link,
.cl-effect-1 a::after {
  margin-left: 10px;
  content: '}';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav-link,
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* Effect 2: Brackets para botones */
.cl-effect-1 button::before,
.cl-effect-1 button::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 button::before {
  margin-right: 10px;
  content: '{';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 button::after {
  margin-left: 10px;
  content: '}';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 button:hover::before,
.cl-effect-1 button:hover::after,
.cl-effect-1 button:focus::before,
.cl-effect-1 button:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/*? Header */

header {
  height: auto;
  min-height: 120px;
}

/*? Nav-contact */
.nav-contact {
  background-color: #7a7a7a;
  color: #b8b8b8;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.nav-contact .contact {
  text-align: end;
}

.nav-contact a {
  color: #dfdfdf;
  transition: 150ms ease;
  will-change: color;
  margin: 0 0.3rem;
}

.nav-contact a:hover {
  color: #cacaca;
  text-decoration: none;
}

.nav-contact li {
  display: inline;
  padding: 0;
  margin: 0;
}

.nav-contact ul {
  padding: 0;
  margin: 0;
}

/*? Navbar */
header nav {
  /* min-height: calc(100% - 48px); */
  min-height: 72px;
  /* z-index: 9000; */
}
.navbar {
  background-color: #fff;
  color: #020f18ff;
  font-size: 1.2rem;
}

.navbar a {
  padding: 0;
}

.navbar button {
  color: #020f18ff;
}

.navbar .logo {
  height: 3.5rem;
}

#navbar ul li a {
  display: flex;
  text-align: flex-end;
}

/*? Slider */

.splide__slide {
  background-image: url('./../assets/images/asset-slider.jpg');
  background-position: center;
  background-size: cover;
}

.splide__pagination__page {
  display: inline-block;
  width: 1.3rem;
  height: 4px;
  background: #ccc;
  border-radius: 0;
  margin: 6px;
  margin-bottom: 2rem;
  padding: 0;
  transition: all 0.2s linear;
  border: none;
}

.splide__pagination__page.is-active {
  transform: scale(1.4);
  margin-right: calc(6px * 1.4);
  margin-left: calc(6px * 1.4);
  /* background: #eb6d00; */
  background: #0b78c1ff;
}

.container-slide {
  height: 100%;
  width: 100%;
  background-color: rgba(3, 29, 48, 0.8);
}
.container-slide .container {
  height: 100%;
}
/* 
.container-slide div {
  border: 1px solid red;
  height: 100%; 
} */

.container-slide .row {
  align-items: center;
  height: 100%;
}

.container-slide p {
  color: white;
  font-weight: 300;
}

/* Footer */

footer {
  min-height: 300px;
  min-width: 100%;
  display: flex;
  align-self: flex-end;
  background-color: #252c35;
  color: #b8b8b8;
  font-size: 0.9rem;
  padding-top: 2rem;
}

footer ul {
  padding: 0;
}

footer h4 {
  color: white;
}

/* footer div {
  border: 1px red solid;
} */

footer ul {
  list-style: none;
}

footer ul li {
  margin-top: 1rem;
}
footer ul li:first-of-type {
  margin-top: 0;
}

footer a {
  font-size: 1.2em;
  font-weight: 500;
  transition: ease 500ms;
  color: #0b78c1ff;
}

footer a:hover {
  text-decoration: none;
}

.interest-links li {
  margin-top: initial;
  font-size: 0.8em;
  /* font-weight: 500; */
  transition: ease 500ms;
  color: #095b95ff;
}

footer h6 {
  padding: 0.2rem 0 2rem 0;
}

/*? Box links */

.box-links {
  min-height: 7rem;
  min-width: 100%;
  padding: 1rem 0;
  background-color: #0b78c1ff;
  display: flex;
}

.box-links .container {
  display: flex;
}

.box-links .row {
  width: 100%;
}

.box-links .col-md-3 {
  display: flex;
  text-align: center;
}

.box-links a {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
  border-radius: 0px;
  padding: 0.5rem 0.9rem;
  transition: ease 300ms;
  border-bottom: solid 1px #3d3d3d;
}

.box-links a:hover {
  background-color: #2e9feaff;
  color: white;
  text-decoration: none;
}

/*? Hero */
.hero {
  max-height: 500px;
  margin-top: 2rem;
}

.hero .text-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.hero img {
  max-height: auto;
}

/*? Integrations */
.integrations {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #f9fafb;
}

/*? Cards */
.integrations .card,
.clients .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  max-width: 75%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  transition: ease 300ms;
  border: none;
  border-radius: 0;
}

.integrations .card:hover,
.clients .card:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.integrations .btn,
.clients .btn {
  color: black;
}

.integrations .soft-link-secondary:hover,
.clients .soft-link-secondary:hover {
  color: white;
}

.integrations img,
.clients img {
  max-width: 75%;
}

/*? Contact us */
.contact-us {
  position: relative;
  min-width: 100%;
  max-height: 400px;
  height: 400px;
}

.contact-us .container-parallax,
.contact-us .form-contact {
  position: absolute;
  min-width: 100%;
  max-height: 400px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
}

.contact-us .container-parallax {
  /* background-image: url('../assets/images/contact.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  overflow: hidden;
  /* object-fit: cover; */
}

.contact-us img {
  object-fit: cover;
  /* margin-top: -200px; */
}

.contact-us .form-contact {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-us input,
.contact-us button {
  background-color: rgba(8, 61, 99, 0.5);
  color: white;
}

.contact-us .col-6 {
  display: flex;
}

.contact-us .col-6 .row {
  margin-left: auto;
}

.contact-us p {
  font-size: 1.7rem;
  color: #ffffff;
}

.contact-us .right {
  justify-content: flex-end;
}

/*? separator */
.separator-section h3 {
  color: white;
  height: fit-content;
}

.separator-section .row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

/*? Clients */
.clients {
  min-height: 500px;
  background-image: url('../assets/images/clients.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .card-footer {
  background-color: transparent;
}

.clients .card {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) {
  .contact-us img {
    margin-top: -200px;
  }
}

@media (max-width: 768px) {
  .integrations p {
    display: none;
  }

  .contact-us .is-center {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .contact-us .is-center {
    justify-content: center;
  }
}
